<h1>New Blog Post</h1>

<%= form_with model: @blog_post do |f| %>
<div>
    <%= f.label :Title %>
    <%= f.text_area :Title %>
</div>
<div>
    <%= f.label :Body %>
    <%= f.text_area :Body %>
</div>
    <%= f.submit 'Create Blog Post'%>
<% end %>
